

.navLink{
    div{
        width: 0%;
        height: 2px;
        background-color: red;
        transition: 0.3s;
        transform: translateY(17px);
    }
   
    &:hover{
        div{
            width: 100%;
        }
    }
}

    .active{
        div{
            width: 100% !important;
        }
        
    }


    .contact-fixed-icon{
        animation-name: scalable;
    }
