
.navLink {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.navLink div {
  width: 100%;
  height: 2px;
  background-color: red;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  translate: 0 17px;
}

.navLink:hover div,
.navLink.active div {
  transform: scaleX(1);
  transform-origin: left;
}

.navLink:not(:hover):not(.active) div {
  transform: scaleX(0);
  transform-origin: right;
}


